{
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "kinesis:PutRecord",
        "kinesis:PutRecords"
      ],
     "Resource": [
            "${kinesis1}",
            "${kinesis2}"
        ]
    }
  ]
}